/* shared property */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* header section styles */

/* banner section */
nav{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.banner{
    display: flex;
    justify-content: space-between;
    padding: 40px 240px; 
}
.banner-description{
    display:flex;
    align-items: center;
}
.banner-description img{
    height: 40px;
    width: 80px;
    margin-right:20px;
}
.banner-title{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    
}
.banner-title span{
    color: #FF42A5;
}

.banner-link{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner-link a{
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-right: 30px;
}
.banner-link .follow{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}


/* main section styles */

/* play section  */
.play{
    display: flex;
    justify-content: space-between;
    padding:40px 200px;
    background: url("/images/Group\ 14.png");
    background-repeat: no-repeat;

}

.play-btn{
    display: flex;
    justify-content: space-around;
}
.play-title{
    color: #0B0223;
    text-align: left;
    font-size: 48px;
    font-weight: 600;
}
.play-subtitle{
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-container p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}
.play-btn{
    display: flex;
    justify-content: space-between;
}
.btn-primary{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #FF42A5;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border:none;
}

.btn-secondary{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background:#4EC5F7;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border:none;
}

.gamer{
    display:flex;
    justify-content: space-around;
    padding:40px 200px;
    background: rgba(255, 66, 165, 0.03) ;
}
.gamer img{
    width:50%;
}
.gamer-container{
    max-width:700px;
    text-align: right;
    margin-left:50px;
}
.gamer-title{
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gamer-txt{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.purpose{
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}
.purpose-intro{
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}

/* online section */
.online{
    text-align: center;
    margin:50px 240px;
}
.online-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}
.online-title span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-txt{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    margin-bottom: 50px;
}

.online-game{
    display: flex;
    justify-content: space-evenly;
    gap:20px;
    
}
.game-video img{
    width: 300px;
}
.game-video figcaption{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
.game-video img:hover{
    border: 2px solid #F948B2 ;
    border-radius: 16px;
      .game-video {
        position: relative;
        display: inline-block;
      }
      
      .video-symbol {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50px;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 50%;
        color: white;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.3s ease;
      }
      
      .game-video:hover .video-symbol {
        opacity: 1;
      }
      
      .game-video:hover img {
        filter: brightness(70%);
      }
      
}

/* download section */
.download{
    margin:100px 200px;
    display: flex;
    justify-content: space-between;
}
.download-container{
    text-align: right;
    margin-right:200px;
    margin-top: 100px;
}
.download-title{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}
.download-title span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.download-txt{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.download-img{
    width: 50%;
}
.img-big{
    width: 550px;;
}
.img-small{
    width:300px;
    position: relative;
    left:-130px;
    top:-200px;
}

/* GAme collection */

.collection1, .collection2{
    display: flex;
    justify-content: center;
    gap:20px;
    margin-bottom: 50px;
    margin-left:100px;
}
.game-container{
    display: flex;
    align-items: center;
    gap:10px;
    border-radius: 50px;
    width: 295px;
    height: 80px;

}
.game-container p{
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}
.game-container:hover{
    border: 2px solid #F948B2;
}
.game-container:hover p{
    color:#F948B2;
}

/* Footer section styles */

footer{
    text-align: center;
    background: #0B0223;
}
footer div{
    justify-content: center;
}
footer .banner-title{
    color: #FFF;
}
/* about section */
.about{
    display: flex;
    justify-content: center;
    gap:50px;
}
.about p{
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}
/* link section */
.footer-link{
    margin-top:50px;
    display: flex;
    justify-content: center;
    gap:50px;
}

/* policy section */
.policy{
    display: flex;
    justify-content: center;
    gap:50px;
    margin:50px 0;
}
.policy a{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}
/* copy right secton */
.copyright{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}